@import url('https://fonts.googleapis.com/css2?family=Kavoon&family=Quicksand:wght@400;600&display=swap');
@import "tailwindcss";

@theme {
  /* Marron */
  --color-marron-100: #5A2C0A;
  --color-marron-80: #801D00;
  --color-marron-60: #A43300;
  --color-marron-40: #E66A4E;
  --color-marron-20: #F5C1B7;

  /* Gold */
  --color-gold-100: #FBCB6D;
  --color-gold-60: #FBE1A6;
  --color-gold-40: #FFE5BA;
  --color-gold-20: #FFF4D6;

  /* Laranja */
  --color-laranja-100: #FBCB6D;

  /* Azul */
  --color-azul-100: #2DA6FF;
  --color-azul-60: #5B88FF;
  --color-azul-20: #DFF2FF;

  /* Vermelho */
  --color-vermelho-100: #DC2626;
  --color-vermelho-80: #F87171;

  /* Background padrão */
  --color-background: #FDE1AF;

  /* Gradiente de fundo */
  --color-gradient-bg: linear-gradient(to bottom, #FFF4D6, #FDE1AF);
}

:root {
  --font-title: 'Kavoon', cursive;
  --font-body: 'Quicksand', sans-serif;
}

.font-title {
  font-family: var(--font-title);
}

body {
  font-family: var(--font-body);
}



/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent; /* ou #FFF4D6 */
}

::-webkit-scrollbar-thumb {
  background-color: #b29146; /* cor dourada */
  border-radius: 9999px;
  border: 2px solid transparent;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #8b3a1a; /* marrom mais escuro */
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #b29146 transparent;
}




.player-pin {
  position: relative;
  display: inline-block;
}

.player-pin-avatar {
  border-radius: 9999px;
  overflow: hidden;
  border: 3px solid #8B3A1A; /* marrom */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.35);
}

.player-pin-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}



.player-pin-tail {
  position: absolute;
  left: 50%;
  bottom: -1px; /* encosta mais ao círculo */
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 14px solid #8B3A1A; /* marrom */
}

/* Ocultar atributo do Leaflet */
.leaflet-control-attribution {
  display: none !important;
}